-# Ubuntu HAML Source bykure
!!! 5
%html
	%head
		%title Ubuntu Test
		%link(href="ubuntu.css" rel="stylesheet" type="text/css")

	%body
		.nav
			.nav_item Item 1
			.nav_item Item 2
			.nav_item Item 3

		.wrapper
			.top_blank
			
			.terminal
				.title_bar
					.title_bar_buttons
					.title_bar_item user@pc: ~
				.menu_bar
					.menu_bar_item File
					.menu_bar_item Edit
					.menu_bar_item View
					.menu_bar_item Search
					.menu_bar_item Terminal
					.menu_bar_item Help
				.content
					user@pc:~$ cat readme.txt
					this
					this
					hitt
					
					asdsa
					
					
					.cursor #
				
			.bottom_blank
			
		.footer
			.footer_item Item 1
			.footer_item Item 2
			
