-# Ubuntu HAML Source bykure
!!! 5
%html
	%head
		%title Ubuntu Test
		%link(href="ubuntu.css" rel="stylesheet" type="text/css")

	%body
		.nav
			.nav_item Applications
			.nav_item Places

		.wrapper
			.top_blank
			
			.terminal
				.title_bar
					.title_bar_buttons
						%img(src="img/buttons.png")
					.title_bar_item user@pc: ~
				.menu_bar
					.menu_bar_item File
					.menu_bar_item Edit
					.menu_bar_item View
					.menu_bar_item Search
					.menu_bar_item Terminal
					.menu_bar_item Help
				.content
					user@pc:~$ cat readme.txt
					%br
					%br
					Hello! This is an example of text on gnome-terminal.
					%br
					Just kidding, it's real HTML supported by real CSS.
					.cursor #
				
			.bottom_blank
			
		.footer
			.footer_item
			
